@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-500.woff2") format("woff2"),
    url("../fonts/Gilroy-500.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-700.woff2") format("woff2"),
    url("../fonts/Gilroy-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
