h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  color: #070707;
  font-size: 18px;
  line-height: 22px;
}

.wrapper {
  padding: 0 250px;
  margin: 0 auto;
  max-width: 1400px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0;
  color: transparent;
}
